.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .contentContainer {
    display: flex;
    .formContainer {
      flex: 1;
      padding: 2%;
    }
  }

  .actionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    button {
      width: 50%;
    }
  }
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2%;
  background-color: var(--color-primary);
  color: white;
  border-radius: 20px;
  h1 {
    font-size: 1.5rem;
  }
}
