.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .contentContainer {
    display: flex;
    .formContainer {
      flex: 0.75;
      padding: 2%;
    }

    .productInfoContainer {
      flex: 0.5;
      padding: 2%;
    }
  }

  .actionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button{
      width: 50%;
    }
  }
}
