.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .contentContainer {
    display: flex;
    .formContainer {
      flex: 1;
      padding: 2%;
    }

  }

  .actionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      width: 50%;
    }
  }
}
