@import "@/styles/globals.scss";
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    width: 100%;

    color: var(--color-primary-darker);
  }
  .title {
    font-size: 30px;
    color: var(--color-primary);
    text-align: center;
  }
  .message {
    font-size: 20px;
    color: rgb(177, 177, 177);
    text-align: center;
  }
}
