@media screen and (min-width: 431px) {
  .container {
    color: var(--color-primary900);
    display: flex;
    padding: 2%;
    gap: 20px;
    .cartInformation {
      display: flex;
      flex: 0.75;
      // flex-direction: column;
      justify-content: center;
    }
    .informationContainer {
      flex: 0.9;
      .customerInformation {
        display: flex;
        flex-direction: column;
      }
      .infoContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    color: var(--color-primary900);
    display: flex;
    flex-direction: column;
    padding: 2%;
    .cartInformation {
      display: flex;
      flex: 0.5;
    }
    .informationContainer {
      flex: 1;

      .customerInformation {
        display: flex;
        flex-direction: column;
      }
      .infoContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
