.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--color-primary500);
  .inactiveContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47474727;
    z-index: 5;
    .titleContainer {
      width: 100%;
      padding: 5%;
      background-color: rgba(var(--color-primary-rgb), 0.75);
      color: white;
    }
  }
  .leftContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.75;
    justify-content: center;
    align-items: center;
    position: relative;  
  }
  .contentContainer {
    color: var(--color-primary500);

    .productInformation {
      display: flex;
      justify-content: space-between;
    }
    button {
      width: 100%;
    }
  }
}

.success {
  color: green;
}
.danger {
  color: red;
}
